<?xml version="1.0" encoding="utf-8"?>
<Content Key="bef8c9ea-367f-4df7-b1f7-9cdc8ccde85f" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2026-02-13T16:57:14</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="71880c23-b2e0-40a2-9539-8cf270fbf484">home</Template>
  </Info>
  <Properties>
    <hotspot>
      <Value><![CDATA[{
  "image": "/media/o0ogkh0u/communityt.jpg?width=400\u0026height=533\u0026rmode=min\u0026quality=80",
  "width": 400,
  "height": 533,
  "bounds": {
    "north": 100,
    "south": 0,
    "east": 100,
    "west": 0
  },
  "hotspots": [
    {
      "id": "hotspot_1771002371331_26y522n",
      "lat": 58.53658536585366,
      "lng": 38.75,
      "description": "",
      "title": "Something is here"
    },
    {
      "id": "hotspot_1771002385439_0lyp4ab",
      "lat": 58.16135084427768,
      "lng": 64.25,
      "description": "",
      "title": "Bingo"
    },
    {
      "id": "hotspot_1771002395953_2674ob2",
      "lat": 47.84240150093808,
      "lng": 48.75,
      "description": "",
      "title": "friendly"
    }
  ]
}]]></Value>
    </hotspot>
    <image>
      <Value><![CDATA[[
  {
    "key": "1ab005cf-f6e2-4094-9b33-1e12380f6628",
    "mediaKey": "a92356f9-683d-41ec-beba-d34c1d6ccc69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>