<?xml version="1.0" encoding="utf-8"?>
<Content Key="91afbb20-a75d-4f91-b4f5-ce287e1e32cb" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2026-02-13T17:20:25</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c5803-de03-74a7-aca6-a1d4d309ca25">Root</Template>
  </Info>
  <Properties>
    <hotspot>
      <Value><![CDATA[{
  "image": "/media/o0ogkh0u/communityt.jpg?width=400\u0026height=533\u0026rmode=min\u0026quality=80",
  "width": 400,
  "height": 533,
  "bounds": {
    "north": 100,
    "south": 0,
    "east": 100,
    "west": 0
  },
  "hotspots": [
    {
      "id": "hotspot_1771186692668_oehsyts",
      "lat": 67.91744840525328,
      "lng": 34.75,
      "description": "",
      "title": "odense"
    },
    {
      "id": "hotspot_1771186708625_kr6nodv",
      "lat": 56.66041275797373,
      "lng": 64,
      "description": "",
      "title": "bingo"
    }
  ]
}]]></Value>
    </hotspot>
    <image>
      <Value><![CDATA[[
  {
    "key": "39411779-25c5-4d7a-b064-1ab3fd403bd7",
    "mediaKey": "a92356f9-683d-41ec-beba-d34c1d6ccc69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>