<?xml version="1.0" encoding="utf-8"?>
<Content Key="91afbb20-a75d-4f91-b4f5-ce287e1e32cb" Alias="Root" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Root</Path>
    <Trashed>false</Trashed>
    <ContentType>root</ContentType>
    <CreateDate>2026-02-13T17:20:25</CreateDate>
    <NodeName Default="Root" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c5803-de03-74a7-aca6-a1d4d309ca25">Root</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "799bfc19-ecf8-44cc-a309-e19e36267161",
      "key": "7783fb0e-6aed-4ab2-9c7e-d54716a563bf",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4765ed58-e35f-4f4a-8732-55b9abb87541",
              "mediaKey": "a92356f9-683d-41ec-beba-d34c1d6ccc69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "hotspotPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "image": "/media/o0ogkh0u/communityt.jpg?width=600\u0026height=799\u0026rmode=min\u0026quality=80",
            "width": 600,
            "height": 799,
            "bounds": {
              "north": 100,
              "south": 0,
              "east": 100,
              "west": 0
            },
            "hotspots": [
              {
                "id": "hotspot_1790693179151_mrj6kc6",
                "lat": 70.96370463078848,
                "lng": 33.33333333333333,
                "description": "",
                "title": "A"
              },
              {
                "id": "hotspot_1790693180928_4huk0ls",
                "lat": 58.322903629536924,
                "lng": 40.666666666666664,
                "description": "",
                "title": "D"
              },
              {
                "id": "hotspot_1790693182195_l8hzn7h",
                "lat": 68.46057571964957,
                "lng": 15.5,
                "description": "",
                "title": "B"
              },
              {
                "id": "hotspot_1790693183366_nozgdlh",
                "lat": 54.943679599499376,
                "lng": 22.5,
                "description": "",
                "title": "C"
              }
            ]
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7783fb0e-6aed-4ab2-9c7e-d54716a563bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7783fb0e-6aed-4ab2-9c7e-d54716a563bf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <hotspot>
      <Value><![CDATA[{
  "image": "/media/o0ogkh0u/communityt.jpg?width=400\u0026height=533\u0026rmode=min\u0026quality=80",
  "width": 400,
  "height": 533,
  "bounds": {
    "north": 100,
    "south": 0,
    "east": 100,
    "west": 0
  },
  "hotspots": [
    {
      "id": "hotspot_1771186692668_oehsyts",
      "lat": 67.91744840525328,
      "lng": 34.75,
      "description": "",
      "title": "odense"
    },
    {
      "id": "hotspot_1771186708625_kr6nodv",
      "lat": 56.66041275797373,
      "lng": 64,
      "description": "",
      "title": "bingo"
    }
  ]
}]]></Value>
    </hotspot>
    <image>
      <Value><![CDATA[[
  {
    "key": "39411779-25c5-4d7a-b064-1ab3fd403bd7",
    "mediaKey": "a92356f9-683d-41ec-beba-d34c1d6ccc69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>