<?xml version="1.0" encoding="utf-8"?>
<Media Key="a92356f9-683d-41ec-beba-d34c1d6ccc69" Alias="communityT.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/communityTjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-13T16:57:01</CreateDate>
    <NodeName Default="communityT.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o0ogkh0u/communityt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>