<?xml version="1.0" encoding="utf-8"?>
<DataType Key="374d55a4-2249-4f3e-8fa2-5b127312ed64" Alias="Home - Hotspot - Multi Hotspot" Level="1">
  <Info>
    <Name>Home - Hotspot - Multi Hotspot</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>OC.MultiHotspot.PropertyEditorUi</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "imageSrc": "image",
  "theme": "Orange",
  "width": 600
}]]></Config>
</DataType>