<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2daea714-fd43-4479-b898-78b16248e1a0" Alias="Root - Blocks - Block List" Level="1">
  <Info>
    <Name>Root - Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "799bfc19-ecf8-44cc-a309-e19e36267161"
    }
  ]
}]]></Config>
</DataType>